@using System.Activities.Statements
@{
    ViewBag.Title = "Home Page";
}
<div>Aesthetic cold-pressed flannel 8-bit, <br />raw denim truffaut tousled fap pop-up plaid. </div>
<div class="jumbotron"></div>
    <h1>Kevins Local Host </h1>
    <div class="row"></div>
    <div>
        @foreach (var c in Model)
        {
          <li>@c.Name, @c.HairColor,@c.Height</li>
        }


</div>
<div>Aesthetic cold-pressed flannel 8-bit, <br />raw denim truffaut tousled fap pop-up plaid. </div>

